<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Main Page</title>
    <style>
        body{
            background-image: url( "{{ url_for('static',filename='images/airlineBackground.png') }} ");
            background-size: cover;
            background-position: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;    height: 100vh;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <header>
    <!-- <div class="background"></div> -->
    <div class="container">
        <h1>Choose your sentiment reviews!</h1> <br><br>
        <!-- <h3>Enter airline's name below</h3> -->
    <form action="{{ url_for('finalResult_Positive') }}" method="post">
        <button type="submit" >Positive</button>
    </form>
    <form action="{{ url_for('finalResult_negative') }}" method="post">
        <button type="submit" >Negative</button>
    </form>
</div>
</header>

    <!-- <div id="result"></div> -->
</body>
</html>