<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
</head>
<body>
    <h1>This is the Final Result of {{airlineName}}</h1>{{airlineName}}

    <div>
      {{ result }}
    </div>
    <br>
    
    <h1>HASIL GAMBAR</h1>
    <img src="data:image/png;base64,{{ plot }}" alt="plot">

    <br><br>

    <a href="{{ url_for('index') }}">Back to Main Page</a>
    <footer>Footer</footer>
</body>
</html>