<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Main Page</title>
</head>
<body>
    <form action="{{ url_for('finalResult') }}" method="post">
        <label for="airlineName">Airline Name:</label>
        <input type="text" id="airlineName" name="airlineName" required>
       
        <button type="submit" >Analyse</button>
    </form>

    <!-- <div id="result"></div> -->
</body>
</html>